/* Aniations */
@keyframes float {
    0% {
        transform: translatey(0px);
        opacity: 50%;
    }
    50% {
        transform: translatey(-10px);
        opacity: 100%;
    }
    100% {
        transform: translatey(0px);
        opacity: 50%;
    }
}

@keyframes nav-detalhe {
    0% {
        border-bottom: 0px solid #cc0033;
    }
    100% {
        border-bottom: 10px solid #cc0033;
    }
}

@keyframes selection-detalhe {
    0% {
        height: 0px;
    }

    100% {
        height: 5px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes leftAnim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: 0px;
        opacity: 1;
    }
}

@keyframes apperTopButton {
    0% {
        opacity: 0;
        transform: translate3d(50px, 0px, 0px);
    }

    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

#drops,
#dqpool,
#spot {
    animation: leftAnim 0.5s ease;
}

#popup {
    animation: opacity 0.2s ease;
}

.collapse_offcanvas > [aria-expanded="false"] {
    background-color: #4d4d4d;
    color: #fff;
    position: relative;
    transition: 0.3s ease all;
}

.collapse_offcanvas > [aria-expanded="true"] {
    background-color: #fff;
    color: #333;
    position: relative;
    transition: 0.3s ease all;
}

.collapse_offcanvas > [aria-expanded="true"]::after {
    content: "";
    background-color: #cc0033;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: selection-detalhe 0.3s ease;
}

[aria-expanded="false"] > .collapse_icon {
    transform: translateY(-50%) rotate(0);
    transform-origin: center;
    transition: 0.3s ease all;
}

[aria-expanded="true"] > .collapse_icon {
    transform: translateY(-50%) rotate(180deg);
    transform-origin: center;
    transition: 0.3s ease all;
}

[aria-expanded="false"] > .menu-icon {
    transform: rotate(0);
    transform-origin: center;
    transition: 0.6s ease all;
}

[aria-expanded="true"] > .menu-icon {
    transform: rotate(225deg);
    transform-origin: center;
    transition: 0.6s ease all;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
}
