/* Colors */
.bg-b1 {
    background-color: #000;
}

.color-b1 {
    color: #000;
}

.bg-b2 {
    background-color: #1a1a1a;
}

.color-b2 {
    color: #1a1a1a;
}

.bg-b3 {
    background-color: #333333;
}

.color-b3 {
    color: #333333;
}

.bg-b4 {
    background-color: #4d4d4d;
}

.color-b4 {
    color: #4d4d4d;
}

.bg-b5 {
    background-color: #666666;
}

.color-b5 {
    color: #666666;
}

.bg-g {
    background-color: #808080;
}

.color-g {
    color: #808080;
}

.bg-w5 {
    background-color: #999999;
}

.color-w5 {
    color: #999999;
}

.bg-w4 {
    background-color: #b3b3b3;
}

.color-w4 {
    color: #b3b3b3;
}

.bg-w3 {
    background-color: #cccccc;
}

.color-w3 {
    color: #cccccc;
    transition: 0.3s all ease;
}

.nav-item .color-w3:hover {
    color: #fff;
    transition: 0.3s all ease;
}

.bg-w2 {
    background-color: #e6e6e6;
}

.color-w2 {
    color: #e6e6e6;
}

.bg-w1 {
    background-color: #fff;
}

.color-w1 {
    color: #fff;
}

.bg-cinzaNor {
    background-color: #333333;
}

.color-cinzaNor {
    color: #333333;
}

.bg-redNor {
    background-color: #cc0033;
}

.color-redNor {
    color: #cc0033;
}

.bg-whiteNor {
    background-color: #ffffff;
}

.color-whiteNor {
    color: #ffffff;
}
